*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.dvi
*.idx
*.ilg
*.ind

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

IMM.pdf
python/__pycache__/
fig/*.eps
logisticplots2/*.eps
matlab/*.eps
matlab/*.tex
maxima/*.tex
python/*.tex
python/*.pyc
python/*.eps
scilab/*.tex
